@import "styles/var";
@import "styles/breakpoints";

.container {
    padding: 50px 250px;
    width: 100%;

    @media (max-width: $desktop_xsm) {
        padding-left: 100px;
        padding-right: 100px;
    }

    @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
        padding-left: 150px;
        padding-right: 150px;
    }

    @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
        padding-left: 200px;
        padding-right: 200px;
    }
}

.nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    align-items: center;
    background-image: url('/assets/menu/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 300px;

    &__text {
        color: white;
        font-size: 5rem;
        min-width: 400px;
    }
}

.menu {
    &__titulo {
        color: $dark;
        font-size: 3rem;
        margin-bottom: 30px;
    }

    &__filters {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 0px;
    }
}
